body
{
    background-color: #044848;
    color: #ffffff;
}

h1
{
    font-size: 4rem;
}

h2
{
    text-align: center
}

img
{
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    img {
        width: 50%; /* Larger size for tablets and up */
    }
}

@media (min-width: 1200px) {
    img {
        width: 20%; /* Original size for desktops */
    }
}

.centreblock
{
    margin: auto;
    width: 50%;
    text-align: centre;
}

